/**
 * @author Kim Lindgren
 * @copyright Kim Lindgren © 2019
 */

@font-face {
    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('Ubuntu-C.woff2') format('woff2');
}
