@font-face{
    font-family: 'Cascadia Mono';
    src: local('Cascadia Mono'),
        url('woff2/CascadiaMono.woff2') format('woff2'),
        url('eot/CascadiaMono.eot') format('embedded-opentype'),
        url('woff/CascadiaMono.woff') format('woff'),
        url('ttf/CascadiaMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
