@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Roboto-BlackItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('Roboto-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}